.Rproj.user
.Rhistory
#.RData
.Ruserdata
.Rproj


*.xslx

/data/OtherData/
/data/OtherData/*

/man/BackUp
/man/BackUp/*

/inst/python/BackUp/
/inst/python/BackUp/*
/R/BackUp
/R/BackUp/*
/inst/python/__pycache__/
/inst/python/__pycache__/*

BackUp/
BackUp/*
